@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #4A76B2;
  --color-bg-light: #F2F1ED;
}

@layer base {
  body {
    @apply font-sans bg-[#FAF9F6] text-black;
  }
}
